<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Xiaomei Wang</h1>
            <hr>  
            <div class="col-lg-3 col-md-6 text-center">
                <a href="mailto:xxx@sjtu.edu.cn">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>xxx@sjtu.edu.cn</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://github.com/WangXiaoMei1/">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{site.github_username}}</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://www.linkedin.com/in/jingweizhao1998/">
                    <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>王小美</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="/files/harshibars-resume.pdf">
                <i class="fa fa-suitcase fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>My CV</p>
                </a>
            </div>
            <hr>  
            <a href="#About" class="btn btn-primary btn-xl page-scroll">More About Me</a>
        </div>
    </div>
</header>
